<!-- 
  index.ejs
  Bowen Dai 300775723
  Home page
-->

<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
  
  <!-- Home Content -->
  <main class="masthead text-center text-black">
    <div class="masthead-content">
      <div class="container">
        <% if(contactName){%>
          <h1 class="masthead-heading">Hello <%= contactName %>, to my first assignment!</h1>
        <%}else{%>
          <h1 class="masthead-heading">Welcome to My First COMP229 Assignment 1</h1>
        <%}%>
        <h2 class="masthead-subheading">COMP229 - Web application development</h2>
        <h3 class="masthead-subsubheading">
          <strong>Some birds are not meant to be caged;their feathers are just too bright.</strong> 
        </h3>
        <a href="/about" class="btn btn-primary btn-xl rounded-pill mt-5">About Me</a>
        <a href="/contact" class="btn btn-primary btn-xl rounded-pill mt-5">Contact Me</a>
      </div>
    </div>
  </main>
  <!-- End Home Content -->
  
<%- include partials/bottom_nav.ejs %>  
<%- include partials/footer.ejs %>